body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(180, 223, 207);
  }
  
  .calculator {
    text-align: center;
  }
  #inputNumber{
    width: 200px;
  }
  
  button {
    margin-top: 10px;
  }
  